
.video-Box{
    width: 100%;
}
video {
    width: 100%;
}
.video-Box video source {
    width: 100%;
} 
.top-box2 {
    position: absolute;
    width: 100%;
    top:70px;
    z-index: 50;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
.top-box2-wrap {
    color: #fff;
    text-align: center;
}
.top-box2-text1 {
    font-size: 40px;
    font-weight: lighter;
}
.top-box2-text2 {
    font-size: 15px;
    padding: 40px 0;
}
.top-box2-form {
    width: 750px;
    margin: 0 auto;
}
.top-box2-form>div {
    float: left;
    height: 32px;
    border: 1px solid #fff;
    position: relative;
    width: 220px;
    margin-right:25px;
}
.top-box2-form>div>input {
    border: none;
    color: #fff;
    padding-left: 25px;
    height: 32px;
}
.top-box2-form>div>span {
    position: absolute;
    left: 5px;
    top: 3px;
}

.top-box2-btn {
    background-color: #a27959;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    color: #fff;
    margin: 20px auto;
}


/* 主题部分 */

/* 高端定制优势开始 */
.youshi {
    padding-top: 50px;
    margin-bottom: 50px;
}
.youshi-top {
    margin: 50px 0 30px 0;
    text-align: center;
}
.youshi-top h3{
    color: #624f48;
    font-weight: 400;
    font-size: 25px;
}
.youshi-top span {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #a27959;
}
.youshi-center {
    margin: 0 auto;
    width: 65%;
    height: 70px;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}
.youshi-center li{
    float: left;
    width: 20%;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
}
.youshi-center :first-child{
    border-left: 0;
}
.youshi-center li a {
    display: block;
    height: 68px;
    line-height: 68px;
}

.youshi-b-box>div{
    border: 1px solid #ccc;
}
.youshi-b-left {
    width: 48.5%;
}
.youshi-b-left img {
    width: 100%;
}
.img-left {
    width: 45%;
}
.word-right {
    width: 55%;
    padding: 0 15px;
    color: #a27959;
}
.word-right h4 {
    font-size: 18px;
    margin-top: 118px;
    font-weight: 400;
}
.word-right p {
    font-size: 12px;
}
/* 高端定制优势结束 */

/* 高端定制流程开始 */
.liucheng {
    margin-top: 50px;
    background: url(../images/service-bg_19.jpg) no-repeat;
    background-size: cover;
}
.education-item {
    position: relative;
    width: 380px;
    margin: 0 auto;
    padding-bottom: 60px;
}

 .title span {
    display: inline-block;
    width: 380px;
    text-align: center;
    background-color: #a27959;
    padding: 20px;
    color: #fff;
}
.education-item::before{
    content: '';
    position: absolute;
    background: url(../images/down.png) 50% no-repeat;
    width: 100%;
    height: 60px;
    left: 0%;
    top:50%;
}
.title-hover-infor {
    position: absolute;
    top: 10px;
    left: 96%;
    padding: 20px;
    width: 320px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    display: none;
    z-index: 2;
}
.title-hover-infor::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 12px;
    width: 0;
    border: 15px solid transparent;
    border-right: 15px solid #fff;
    /* display: none; */
}

/* 中间大的 */
.education-items {
    position: relative;
    width: 945px;
    padding: 30px;
    border: 1px dashed #ccc;
    margin: 0 auto;
    margin-bottom: 50px;
}    
.education-items span {
    position: relative;
}
.education-items span::before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #a27959;
    position: absolute;
    left: 50%;
    top: 149%;
}
.education-items-center {
    margin: 0 auto;
    width: 945px;
    height: 80px;
    padding: 50px 48px 0;
    
}
.education-items-center .line {
    margin-left: 47px;
    width: 79.5%;
    height: 1px;
    background-color: #a27959;
}
.education-items-bottom .title {
    width: 945px;
}
.education-items-bottom .title span{
    width: 190px;
    margin-right: 30px;
}
.education-items-bottom  span::before {
    top: -48%;
}
.education-items::before{
    content: '';
    position: absolute;
    background: url(../images/down.png) 50% no-repeat;
    width: 100%;
    height: 60px;
    left: 0%;
    top:99%;
}
.liucheng-star>:last-child::before{
    display: none;
}
/* 高端定制流程结束 */

/* 范围定制开始 */
.fanwei-main {

}
.fanwei-left {
    position: relative;
    width: 40%;
    padding: 0 15px;
    float: left; 
}  
.fanwei-left img {
    width: 100%;
}  
.fanwei-right {
    width: 60%;
    padding: 0 15px;
    float: right;
}
.fanwei-left-text {
    position: absolute;
    top: 30%;
    padding-left: 30px;
    font-size: 24px;
    
}
.fanwei-left-text h3{
    font-weight: 400;
}

.fanwei-right>div>div {
    width: 50%;
    padding: 0 15px;
}
.fanwei-right img {
    width: 100%;
}
.fanwei-right a {
    display: block;
    border: 1px solid #ccc;
}
.fanwei-right span {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
}
.fanwei-r-t {
    margin-bottom: 44px;
}
/* 范围定制结束 */

/* 官网案例开始 */
.anli {
    padding-top: 50px;
}
.anli-top-wrap {
    float: left;
    width: 33.33333%;
    padding: 0 15px;
}
.anli-top-wrap img {
    width: 100%;
}
.anli-top-wrap>div {
    padding: 15px 8px;
    margin-bottom: 50px;
    box-shadow: 2px 10px 20px 5px rgba(204,204,204,0.2);
}
.anli-top-wrap ul {
    padding: 20px;
    color: #624f48;
    font-size: 14px;
}
.anli-top-wrap ul li {
    line-height: 24px;
}

.anli-bottom {
    padding: 30px 0;
    background: url(../images/index-search-bg.jpg) no-repeat;
    background-size: cover;
    box-shadow: 2px 10px 20px 5px rgba(195,195,195,0.6);
    border-radius: 8px;
}
.anli-b-title {
    width: 90%;
    margin: 0 auto;

    color: #fff;
}
.anli-b-title p {
    font-size: 18px;
    margin-bottom: 20px;
}
.anli-b-title>div {
    width: 25%;
    float: left;
    padding-left: 10px;
    margin-bottom: 20px;
}
.anli-b-title select {
    margin-left: 10px;
    width: 60%;
    height: 24px;
    border-radius: 8px;
    background-color: #fff;
}
.anli-b-title .anliTime {
    width: 100%;
}
.anliTime b{
    font-weight: 400;
}
.anliTime span {
    margin-right: 25px;
}
.anliTime input {
    margin-right: 15px;
}

.anli-b-submit {
    position: relative;
    width: 100%;
    height: 35px;
}
.anli-b-submit a {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 120px;
    color: #624f48;
    font-size: 24px;
    box-shadow: 2px 10px 20px 5px rgba(195,195,195,0.6);
}
/* 官网案例结束 */

/* 小程序案例开始 */
.sucesscase {
    margin-top: 120px;
    padding-bottom: 50px;
    background: url(../images/service-bg_19.jpg);
}

.success-main a{
    display:block;
    float: left;
    width: 25%;
    padding:  0 15px;
    
}
.success-main-wrap {
    width: 100%;
    background-color: #fff;
    border-top: 2px solid #624f48;
}
.success-main-wrap:hover {
    box-shadow: 0px 5px 20px 0px rgba(98,79,72,0.15);
}
.success-main img {
    width: 100%;
}
.success-main-top {
    position: relative;
    margin-bottom: 30px;
}
.success-main-wrap .success-main-text {
    padding: 0 20px 20px 20px;
    color: #a27959;
}
.success-main-wrap .success-main-text h4{
    font-weight: normal;
    text-align: center;
}
.success-tit {
    position: absolute;
    bottom: -4%;
    left: 50%;
    width: 88px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: -44px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);

}
.success-main-text {
    color: #000;
}
.success-main-text p {
    font-size: 14px;
}
/* 小程序案例结束 */
/* 客户想法开始 */
.iders {
    margin-top: 100px;
    background: url(../images/b2_06.jpg);
    padding: 50px 0;
    color: #fff;
}
.iders-main h3 {
    font-size: 32px;
    text-align: center;
    font-weight: normal;
}
.iders-main {
    position: relative;
}
.iders-main-left {
    position: absolute;
    top:0;
    left: -130px;
}
.ider-text {
    position: relative;
    width: 945px;
}
.ider-text img{
    position: absolute;
    top: -68px;
    right: -190px;
    width: 150px;
}

.ider-text2 {
    position: relative;
    margin-top: 110px;
    padding-left: 200px;
}
.ider-text2 img {
    position: absolute;
    top: -45px;
    left: 0;
    width: 150px;
}
.iders-main-center {
    margin: 100px 0 150px 0;
}
.iders-main-right {
    position: relative;
}
.iders-main-right img {
    position: absolute;
    right: -126px;
    top: -76px;
}
/* 客户想法结束 */

/* 服务特色开始 */
.tese {
    height: 620px;
    padding-bottom: 200px;
}
.service-box {
    position: relative;
    float: left;
    padding: 0 15px;
    width: 33.33%;
}
.service-box img{
    width: 100%;
}
.service-box-b {
    position: absolute;
    left: 50%;
    bottom: -50%;
    margin-left: -40%;
    /* width: 80%; */
    width: 312px;
    height: 180px;
    /* height: 248px; */
    background: #fff;
    padding: 20px 50px;
    color: #624f48;
    box-shadow: 2px 3px 20px 5px rgba(204,204,204,0.2);
    /* text-align: center; */
    overflow: hidden;
    translate: .5 all;
}
.service-box-b span {
    display: inline-block;
    height: 3px;
    width: 35px;
    background-color: #624f48;
    margin-left: 42%;
}
.service-box-b h3 {
    text-align: center;
}
.isP {
    width: 100%;
    height: 67px;
    overflow: hidden;
    padding-bottom: 30px;
}
.service-box-b p {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.service-box-b a {
    position: absolute;
    left: 50%;
    bottom: -55px;
    /* bottom: 20px; */
    margin-left: -60px;
    display: inline-block;
    width: 120px;
    color: #fff;
    font-size: 14px;
    background: #624f48;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;

}
/* 服务特色结束 */
/* 联系我们开始 */
.callus {
    padding:100px 15px ;
}
.callus-main {
    width: 100%;
    border: 1px solid #624f48;
    color: #666;  
    background-color: #624f48;
}
.callus-main img {
    width: 100%;
}
.callus-left {
    position: relative;
    width: 50%;   
}
.callus-left-text {
    position: absolute;
    width: 75%;
    left: 50%;
    top:30px;
    margin-left: -37.5%;
}
.callus-left-text h5{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 25px;
}

.callus-right {
    width: 50%;
    height: 100%;
}
.callus-right form {
    position: relative;
    width: 70%;
    margin: 30px auto 0;
}
.callus-right form input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 15px;
    padding: 0 15px;
}
.callus-right form button {
    position: absolute;
    right: -30px;
    bottom: -30px;
    background-color: #fff;
    padding: 3px 20px;
    border: none;
    border-radius: 5px;
}
/* 联系我们结束 */

/* 尾部开始 */
.footer {
    width: 100%;
    height: 456px;
    background: url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
}
.footer a:hover {
    color: #624f48;
}
.footer-top {
    padding: 40px 0;
}
.foor-top-logo-l {
    width: 58%;
}
.foor-top-logo-r {
    width: 42%;
}
.foor-top-logo-r>ul {
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.foor-top-logo-r ul li {
    float: left;
    margin-right: 20px;
}
.foor-top-logo-r  a {
    color: #d3d3dc;
}
.dllist {
    padding: 48px 0;
    font-size: 14px;
}
.dllist  a {
    color: #d3d3dc;
}
.dllist dl {
    float: left;
    width: 17%;
    
}
.dllist dl dt {
    margin-bottom: 20px;
    font-size: 14px;
}
.dllist dl dd {
    line-height: 32px;
}
.footer-bottom {
    border-top: 1px solid #ccc;
}

.erweima {
    width: 100%;
    padding: 32px 0;
}
.erweima h3 {
    padding-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
}


.erweima-tu {
    width: 100%;

}
.erweima-tu img {
    width: 100%;
}
.erweima-tu  li{
    float: left;
    width: 25%;
    border-right: 1px dashed #ccc;
    padding-right: 15px;
}
.erweima-tu ul>:nth-child(2){
    width: 14%;
    padding: 0 30px 0 15px;
    text-align: center;
}
.erweima-tu ul  a {
    display: block;
    width: 20px;
    height: 20px;
    margin: 12px 0;
}
.erweima-tu ul>:nth-child(3){
    width: 48%;
    font-size: 14px;
    color: #d3d3dc;
    border: none;
}
.erweima-tu p {
    text-align: left;
    margin: 0%;
    margin-bottom: 10px;
}
.foor-top-logo-b {
    text-align: center;
    margin: 20px 0;
}
.foor-top-logo-b span {
    margin-right: 30px;
    font-size: 14px;
    color: #d3d3dc;
}
.footer-bottom {
    text-align: center;
    padding-top: 20px;
}
.footer-bottom span {
    color:#aaaab9;
    font-size: 12px;
}
/* 尾部结束 */




/*联系我们*/
.lxwm {
    z-index: 999999;
    transition: all .3s;
   position: fixed;
    left: -30px;
    bottom: -350px;
}
.lxwm img {
    transform: scale(.7);
}
/*侧边导航*/
.cathetnav {
    transition: all .4s;
    position: fixed;
    width: 500px;
    right:-500px;
    top: 50%;
    margin-top: -125px;
    z-index: 999999;
}
.cathetnav li {
    background: rgba(0,0,0,.8);
    position: relative;
    transition: all .4s;
    width: 500px;
    height: 50px;
    left:0;
    top: 0;
}
.cathetnav li:hover {
    background: #99859c;
}
.cathetnav li:last-child a {
    color: #625C5C;
}
.cathetnav li:last-child a:hover {
    color: #e3e8f7;
}
.cathetnav li a{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #e3e8f7;
    float: left;
}
.cathetnav li a i {
    font-size:24px;
}
.cathetnav li span {
    color: #e3e8f7;
    display: block;
    line-height: 50px;
    text-align: left;
    float: left;
    margin-right: 20px;
}
.cathetlist dl {
    position: relative;
    height: 50px;
    font-size:14px;
    width: 100px;
    float: left;
    background: #99859c;
    color: #e3e8f7;
}
.cathetlist dl:hover dt{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.cathetlist dl dt,
.cathetlist dl dd {
    position: relative;
    background: #99859c;
    color: #e3e8f7;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.cathetlist dl dd a {
    color: #e3e8f7;
    width: 100px;
    height: 50px;
    display: block;
}
.cathetlist dl dd {
    display: none;
}
.cathetlist dl dd:hover {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
#firlis {
    position: absolute;
    overflow: hidden;
    height: 50px;
    top:-50px;
}
#firlis img {
    display: block;
    width: 110px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 60px;
}