body {
    zoom: 0.9;
}
.job-wrap {
    position: absolute;
    z-index: 1;
    height: 1967px;
    width: 1541px;
    left: -279px;
}
.job-nav {
	margin-left: 25px;
    width: 97px;
    position: absolute;
    top: 340px;
    left: 260px;
    z-index: 4;
}
.job-nav a{
    display: block;
    width: 97px;
    height: 22px;
    margin-bottom: 28px;
    background: url(../images/nav_2f266d1.png) no-repeat;
   
}
.job-nav a:hover{
    background-position-x: -97px;
}

.job-nav .nav0{
    background: url(../images/index_z_fe0b4cf.png) no-repeat -649px -457px;
}
.job-nav .nav0.active{
    background-position: -554px -485px;
}
.job-nav .nav0:hover{
    background-position: -554px -485px;
}
.job-nav .active {
    background-position-x: -97px;
}

.jobs .job-bg {
    width: 1541px;
    height: 1967px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.hide{
    display: none;
}
/* jobs公共部分开始 */
/* 人物名字公共部分 */
.jobs .person {
    z-index: 2;
    width: 1541px;
    height: 1967px;
    position: absolute;
    left: 0;
    top: 0;
}
.jobs .figureName {
    width: 91px;
    height: 147px;
    background: url(../images/index_z_fe0b4cf.png);
    position: absolute;
    top: 167px;
    left: 380px;
    z-index: 3;
}
.jobs .job-bg .figureName .job-more{
    background-position:-62px -294px;
}
.jobs .figureName .job-more{
    position: absolute;
    width: 35px;
    height: 105px;
    background:url(../images/index_z_fe0b4cf.png);
    top: 62px;
    left: 74px;
}
.jobs .figureName .job-more:hover {
    background-position-x: -27px;
}
/* 视频公共部分 */
.jobs .video {
    width: 94px;
    height: 94px;
    background: url(../images/index_z_fe0b4cf.png) no-repeat;
    position: absolute;
    margin-left: 385px;
    top: 355px;
    cursor: pointer;
    z-index: 3;
}
/* 放大缩小 */
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.jobs .video i {
    display: block;
    width: 24px;
    height: 35px;
    cursor: pointer;
    position: relative;
    background: url(../images/index_z_fe0b4cf.png) no-repeat -709px -288px;
    left: 40px;
    top: 30px;
    animation: scale 2s linear infinite;
}
@keyframes stepAn{
    0% {background-position-y: 0px;}
    100% {background-position-y:bottom;}
}
.jobs .animate{
    width: 400px;
    height: 450px;
    position: absolute;
    left: 792px;
    top: 113px;
}
/* jobs公共部分结束 */

/* 龙吟开始 */
.jobs .ly .person {
    background: url(../images/ly_b924604.png) no-repeat;
}
.jobs .ly .figureName{
    background-position:-188px -147px;
}

.jobs .ly .video1{
    background-position-x: -460px;
    background-position-y: -94px;
}
.jobs .ly .animate {
    width: 250px;
    height: 150px;
    background: url(../images/ef482b5f-b99c-46fa-b4dc-e03841afb0f9.png) no-repeat;
    left: 1164px;
    top: 66px;
    animation: stepAn steps(49) 2s infinite;
    z-index: 3;
}
.jobs .ly .animate2 {
    background: url(../images/72eb9256-147e-4e24-b2ec-0ef466699465.png) no-repeat;
    width: 607px;
    height: 684px;
    position: absolute;
    left: 435px;
    top: 251px;
    z-index: 1;
    animation: stepAn steps(23) 2s infinite;
}
/* 龙吟结束 */
/* 血河开始 */
.jobs .xh .person {
    background: url(../images/xh_d968f2c.png) no-repeat;
}
.jobs .xh .figureName{
    background-position:0px -147px;
}
.jobs .xh .video1{
    background-position-x: -191px;
    background-position-y: -294px;
}
.jobs .xh .animate {
    background: url(../images/4a71965476fcf4c2b8895a8e5d0e766a.png) no-repeat;
    animation: stepAn steps(23) 2s infinite;
}
/* 血河结束 */
/* 素问开始 */
.jobs .sw .person {
    background: url(../images/sw_fd4c1a4.png) no-repeat;
}
.jobs .sw .figureName{
    background-position:-94px -147px;
}
.jobs .sw .video1{
    background-position-x: -460px;
    background-position-y: -282px;
}
.jobs .sw .animate {
    background: url(../images/43f8847b9aba7afeb8748274ae61470b.png) no-repeat;
    animation: stepAn steps(23) 2s infinite;
}
/* 素问结束 */
/* 九灵开始 */
.jobs .jl .person {
    background: url(../images/jl_7e85966.png) no-repeat;
}
.jobs .jl .figureName{
    background-position:-285px 0;
}
.jobs .jl .video1{
    background-position-x: -98px;
    background-position-y: -294px;
}
.jobs .jl .animate {
    background: url(../images/6f903d0be3153d2d542d33db4941c737.png) no-repeat;
    animation: stepAn steps(23) 2s infinite;
}
/* 九灵结束 */
/* 碎梦开始 */
.jobs .sm .person {
    background: url(../images/sm_343c168.png) no-repeat;
}
.jobs .sm .figureName{
    background-position:0 0;
}
.jobs .sm .video1{
    background-position-x: -460px;
    background-position-y: -188px;
}
.jobs .sm .animate {
    background: url(../images/b4f6aca1297185608be07c7890358baf.png) no-repeat;
    animation: stepAn steps(23) 2s infinite;
}
/* 碎梦结束 */
/* 神相开始 */
.jobs .sx .person {
    background: url(../images/sx_eaeb078.png) no-repeat;
}
.jobs .sx .figureName{
    background-position:-188px 0;
}
.jobs .sx .video1{
    background-position-x: -460px;
    background-position-y: 0px;
}
.jobs .sx .animate {
    background: url(../images/de3fef53-d2a1-420e-8acb-5e7bf9e38617.png) no-repeat;
    animation: stepAn steps(23) 2s infinite;
}
/* 神相结束 */
/* 铁衣开始 */
.jobs .ty .person {
    background: url(../images/ty_44f8f54.png) no-repeat;
}
.jobs .ty .figureName{
    background-position:-94px 0;
}
.jobs .ty .video1{
    background-position-x: -285px;
    background-position-y: -294px;
}
.jobs .ty .animate {
    background: url(../images/dc154ab19b3555f3b1322efbb5926b51.png) no-repeat;
    animation: stepAn steps(23) 2s infinite;
}
/* 铁衣结束 */







.top{
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: 105px;
    height: 830px;
    z-index: 2;
}
.slogan {
	margin-left: -60px;
    background: url(../images/slogan_67a760a.png) no-repeat;
    width: 630px;
    height: 277px;
    position: relative;
}
.top .btns {
    width: 555px;
    height: 218px;
    margin-top: 35px;
    
}
.top .btns .btns-1{
    width: 100%;
    height: 154px;
    overflow: hidden;
    margin-bottom: 1px;
}

.top .btn-down{
    position: absolute;
    background: url(../images/btn1_031d704.gif) no-repeat;
    width: 370px;
    height: 154px;
}
.top .btn-down:hover{
    background: url(../images/btn2_968fc63.gif) no-repeat;
}

.top .btn-erweima {
    background: url(../images/btns_d790835.png) no-repeat -371px 0;
    width: 184px;
    height: 153px;
    position: absolute;
    left: 370px;
}
@keyframes scan{
    0% {top: 20px;}
   100%{top:100px;}
}
/* 二维码上面的线 */
.top .btn-erweima .move-line {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 120px;
    height: 14px;
    background: url(../images/wx-sacnning_232c929.png) no-repeat;
    background-size: 100% auto;
    animation: scan 3s linear infinite alternate;
}

.top .btns .btn{
    float: left;
    margin-right: 1px;
    left: 0;
    width: 184px;
    height: 63px;
}
.top .btns .btn-haoli{
    background: url(../images/btns_d790835.png) no-repeat 0 -155px;
}
.top .btns .btn-reg{
    background: url(../images/btns_d790835.png) no-repeat -185px -155px;
}
.top .btns .btn-cz{
    background: url(../images/btns_d790835.png) no-repeat -370px -155px;
}
.top .btns .btn-haoli:hover {
    background: url(../images/btns_d790835.png) no-repeat 0 bottom;
}
.top .btns .btn-reg:hover {
    background: url(../images/btns_d790835.png) no-repeat -185px bottom;
}
.top .btns .btn-cz:hover {
    background: url(../images/btns_d790835.png) no-repeat -370px bottom;
}
/* 3D翻转 */
@keyframes roate{
    0% {
        transform: rotateY(360deg);
    }
}
.top .btns .btn-haoli i{
    display: block;
    width: 24px;
    height: 28px;
    margin-top: 18px;
    margin-left: 27px;
    background:url(../images/index_z_fe0b4cf.png) no-repeat -733px -288px;
    animation: roate 3s ease infinite;
}
.top .btns .btn-reg i{
    display: block;
    width: 26px;
    height: 26px;
    margin-top: 18px;
    margin-left: 27px;
    background:url(../images/index_z_fe0b4cf.png) no-repeat -727px -362px;
    animation: roate 3s ease infinite;
}
.top .btns .btn-cz i{
    display: block;
    width: 26px;
    height: 26px;
    margin-top: 18px;
    margin-left: 27px;
    background:url(../images/index_z_fe0b4cf.png) no-repeat -701px -362px;
    animation: roate 3s ease infinite;
}
.top .banner {
    width: 555px;
    height: 270px;
    position: relative;
    margin: 15px 0;
}
.top .banner .switch {
    position: absolute;
    right: 0px;
    z-index: 105;
}
.top .banner .switch a {
    float: right;
    width: 42px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    color: #000;
    background-color: #fff;
    text-align: center;
}
.top .banner .switch a.current{
    color: #fff;
    background: #a28a4c;
}
.top .banner .switch a:hover {
    color: #fff;
    background: #a28a4c;
}
.top .banner .switch-pic a{ 
    position: absolute;
}
.top .banner .switch_ctr1 {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: auto;
    height: 25px;
    z-index: 101;
}
.top .banner .switch_ctr1 span{
    display: block;
    background: url(../images/index_z_fe0b4cf.png) no-repeat -739px -195px;
    float: left;
    width: 19px;
    height: 20px;
    margin-right: 7px;
    cursor: pointer;
}
.top .banner .switch_ctr1 span.current{
    
    background: url(../images/index_z_fe0b4cf.png) no-repeat -735px -147px;
}



.news-box {
    position: absolute;
    top: 970px;
    left: 50%;
    margin-left: 105px;
    width: 555px;
    height: 330px;
    overflow: hidden;
    z-index: 2;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.1));
}
.news-box .box-title {
    overflow: hidden;
    height: 47px;
    margin-top: 5px;
}
.news-box .box-title .news-tab {
    margin-left: 15px;
    width: 520px;
    border-bottom: 2px solid #dde2e4;
}
.news-box .box-title .news-tab li {
    float: left;
    position: relative;
    top: 2px;
    margin-right: 15px;    
}
.news-box .box-title a {
    font-size: 0;
}
.news-box .box-title .news-tab a{
    display: block;
    width: 68px;
    height: 28px;
    color: #303030;
    position: relative;
    margin-top: 10px;
   background:url(../images/news-tab-nav_1d4b638.png)no-repeat;
   background-position-y: 0px;
}
.news-box .box-title .news-tab .active{
    background-position-y: -28px;
}
.news-box .box-title .news-tab li::after{
    content: '';
    background: url(../images/news-line2_9cc9ac3.png)no-repeat;
    width: 1px;
    height: 15px;
    position: absolute;
    right: -7px;
    top: 13px;
}
.news-box .box-title .more {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    background: url(../images/icon-more_d2c5fe0.png) no-repeat;
    width: 16px;
    height: 16px;
    transition: all 0.8s ease;
}
.news-box .box-title .more:hover{
    transform: rotate(180deg);
    background: url(../images/icon-more2_4fc21e0.png) no-repeat;

}
.news-box .news-top{
    position: relative;
    text-align: center;
}
.news-box .news-top a{
    display: inline-block;
    color: #39456c;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 4px;
    line-height: 32px;
}
.news-box .news-top a:hover {
    color: #aa9452;
}
.news-box .new-line {
    background: url(../images/news-line_aa2f9b1.png) no-repeat;
    width: 511px;
    height: 1px;
    margin: 15px auto;
}
.news-box .news  {
    padding:0 20px;
    display: none;
}
.news-box .active {
    display: block;
}
.news-box .news li {
    line-height: 32px;
    font-size: 12px;
    color: #39456c;
    vertical-align: middle;
    position: relative;
    padding-left: 12px;
}
.news-box .news li.news-special {
    background: rgba(151,162,183,.2);
    padding-left: 0;
    height: 35px;
    line-height: 35px;
    margin-bottom: 13px;
}
.news-box .news li .icon32 {
    background: url(../images/index_z_fe0b4cf.png)no-repeat -554px -362px;
    width: 52px;
    height: 35px;
    display: inline-block;
    text-indent: 5px;
    font-style: 18px;
    color: #fff;
    margin-right: 5px;
}  
.news-box .news li a{
    display: inline-block;
    color: #39456c;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    text-align: left;
    padding-left: 0;
    box-sizing: border-box;
}
.news-box .news li a:hover{
    color: #a28a4c;
}
.news-box .news li::before{
    content: '';
    width: 3px;
    height: 3px;
    border: 1px solid #455175;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top:13px;
}
.news-box .news .news-special::before{
    content: '';
    width: 0px;
    height: 0px;
    border: 0px solid #455175;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top:13px;
}


.dashi {
    position: absolute;
    top: 1332px;
    right: 0;
    width: 555px;
    height: 400px;
    z-index: 2;
}
.dashi .ds-title {
    background: url(../images/title-dashi_14272a3.png) no-repeat;
    width: 222px;
    height: 31px;
}
.dashi .ds-tabs .more{
    background: url(../images/index_z_fe0b4cf.png) no-repeat;
}


.dashi .ds-tabs .wra{
    height: 387px;
    width: 555px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../images/wra-bg_f97dadc.png) no-repeat;
}
.dashi .ds-tabs .wra .more{
    width: 185px;
    height: 47px;
    position: absolute;
    top: 258px;
    left: 58px;
    background-position: -554px -241px;
}


.dashi .ds-tabs .csd.open {
    width: 1362px;
}
.dashi .ds-tabs .csd {
    background: url(../images/cxd-bg_c3df4e7.jpg) no-repeat;
    width: 555px;
    height: 350px;
    position: absolute;
    right: 0;bottom: 0;
    transition: width .7s ease-out;
}
.dashi .ds-tabs .csd.open .title{
    left: -15px;
}
.dashi .ds-tabs .csd .title {
    background: url(../images/cxd-title_4eb20db.png)no-repeat;
    width: 504px;
    height: 274px;
    position: absolute;
    top: 0;
    left: -70px;
}
.dashi .ds-tabs .csd .person {
    background: url(../images/cxd-name_3a039b1.png) no-repeat;
    width: 214px;
    height: 388px;
    position: absolute;
    bottom: 0;right: 0;
}
.dashi .ds-tabs .csd .play {
    background: url(../images/index_z_fe0b4cf.png) no-repeat -379px -294px;
    width: 57px;
    height: 57px;
    position: absolute;
    right: 212px;
    top: 20px;
    cursor: pointer;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.dashi .ds-tabs .play i {
    background: url(../images/index_z_fe0b4cf.png) no-repeat -354px -437px;
    display: block;
    width: 57px;
    height: 57px;
    cursor: pointer;
    animation:  rotate 3s linear infinite;
}
.dashi .ds-tabs .video {
    width: 639px;
    height: 349px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -274px;
    overflow: hidden;
}
.dashi .ds-tabs .video video {
    display: block;
    width: 840px;
    position: relative;
    top: -62px;
    left: -100px;
}
.dashi .ds-tabs .csd .zhezhao {
    background: url(../images/zhezhao2_7f668ed.png) no-repeat;
    width: 639px;
    height: 350px;
    position: absolute;
    left: 50%;
    margin-left: -256px;
    top: 0;
}
.dashi .ds-tabs .csd .video {
    margin-left: -256px!important;
} 
.dashi .ds-tabs .csd.open .more{
    left: 123px;
}
.dashi .ds-tabs .csd .more {
    background: url(../images/index_z_fe0b4cf.png) no-repeat 0 -437px;
    width: 177px;
    height: 87px;
    position: absolute;
    bottom: 30px;
}
.dashi .ds-tabs .tsy {
    background: url(../images/tsy-bg_1cbcc12.jpg) no-repeat;
    width: 555px;
    height: 350px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: width .7s ease-out;
}
.dashi .ds-tabs .tsy.open {
    width: 1362px;
}
.dashi .ds-tabs .tsy .title{
    background: url(../images/tsy-title_4a23b17.png) no-repeat;
    width: 432px;
    height: 260px;
    position: absolute;
    left: -30px;
    top: 0;
}
.dashi .ds-tabs .tsy .person {
    background: url(../images/tsy-name_b8cb625.png) no-repeat;
    width: 298px;
    height: 410px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.dashi .ds-tabs .tsy .play {
    background: url(../images/index_z_fe0b4cf.png) no-repeat -379px -294px;
    width: 57px;
    height: 57px;
    position: absolute;
    left: 80px;
    top: 157px;
    cursor: pointer;
}
.dashi .ds-tabs .tsy .zhezhao{
    background: url(../images/zhezhao_e662ade.png) no-repeat;
    width: 639px;
    height:350px;
    position: absolute;
    left:50%;
    margin-left: -274px;
    top: 0;
}
.dashi .ds-tabs .tsy .more {
    background: url(../images/index_z_fe0b4cf.png) no-repeat 0 -437px;
    width: 177px;
    height: 87px;
    position: absolute;
    left: 100px;
    bottom: 35px;
}
.dashi .ds-tabs .ljy {
    background: url(../images/ljy-bg_5024d95.png) no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 387px;
    width: 555px;
}
.dashi .ds-tabs .ljy .more {
    background: url(../images/index_z_fe0b4cf.png) no-repeat 0 -437px;
    width: 177px;
    height: 87px;
    position: absolute;
    top: 258px;
    left: 138px;
}
.dashi .switch {
    width: 122px;
    height: 25px;
    position: absolute;
    bottom: 4px;
    right:4px;
}
.dashi .switch span{
    display: block;
    background: url(../images/index_z_fe0b4cf.png) no-repeat -739px -195px;
    float: left;
    width: 19px;
    height: 20px;
    margin-right: 7px;
    cursor: pointer;
}
.dashi .switch span.current{
    background: url(../images/index_z_fe0b4cf.png) no-repeat -735px -147px;
}



.media {
    width: 1362px;
    height: 330px;
    position: absolute;
    top: 1746px;
    z-index: 2;
}
.media .bz{
    width: 670px;
    height: 330px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.media-tab>img {
    transition: all 1s ease-out;
    display: block;
    width: 100%;
    height: 100%;
}
.media-tab:hover>img{
    transform: scale(1.1);
}
.media .title {
    width: 93px;
    height: 298px;
    position: absolute;
    top: 0;
    right: 20px;
}
.media .bz .title {
    background:url(../images/bz-title1_a3bffef.png) no-repeat;
    transition: all .5s ease;
}
.media .bz:hover .title{
    background: url(../images/bz-title2_239b5c2.png) no-repeat;
}
.flip {
    transform: translate3d(0,0,0);
    position: absolute;
    left: 0;top: 0;
    width: 93px;height: 298px;
}
.flip-box{
    position: relative;
    width: 93px;
    height: 298px;
    overflow: hidden;
}
.flip-item {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-sizing: :border-box;
}
.flip-item-front {
    transform: rotateY(0deg);
}
.flip-item-back {
    transform: rotateY(180deg);
}
.media-tab:hover .flip-item-front {
    transform: rotateY(180deg);
}
.media-tab:hover .flip-item-back {
    transform: rotateY(0deg);
}
.media .video{
    width: 670px;
    height: 330px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.media .video .title {
    background:url(../images/video-title1_bf46152.png) no-repeat;
    transition: all .5s ease;
}
.media .video:hover .title{
    background: url(../images/video-title2_9e9930f.png) no-repeat;
}


.gonglue {
   position: absolute;
   top: 2096px;
   width: 1362px;
}
.gonglue .title{
    background: url(../images/index_z_fe0b4cf.png) no-repeat -27px -399px;
    width: 427px;
    height: 27px;
    margin: 10px 0 14px;
}
.gonglue .more {
    display: block;
    position: absolute;
    right: 0;
    top: 24px;
    width: 95px;
    height: 28px;
    z-index: 2;
    background: url(../images/index_z_fe0b4cf.png) no-repeat -606px -362px;
}
.gonglue .content-wrap {
    width:1362px;
    height: 414px;
    background: url(../images/luntan-bg_3ac111d.png) no-repeat;
}
.gonglue .gl-luntan {
    width: 762px;
    height: 414px;
    margin-left: 27px;
}
.gonglue .search-wrap {
    position: relative;
    width: 762px;
    height: 48px;
    border: 1px solid #a0a6ba;
    margin: 30px 0 0;
}
.gonglue input {
    position: absolute;
    left: 0;
    top: 0;
    width: 642px;
    height: 100%;
    line-height: 48px;
    display: block;
    padding-left: 18px;
    color:#b4b5b7;
    font-style: 14px;
    border: 0;
    -webkit-appearance: none;
    background: transparent;
    outline: 0;
}
.gonglue .btn-search {
    display: block;
    background: url(../images/index_z_fe0b4cf.png) no-repeat -554px -146px;
    position: absolute;
    right: 0;top: 0;
    width: 100px;
    height: 49px;
}
.gonglue .luntan-tab {
    height: 108px;
    overflow: hidden;
    margin: 35px auto 8px;
}
.gonglue .luntan-tab a{
    position: relative;
    height: 100%;
    display: block;
    float: left;
    background: url(../images/tab1_46b4a71.png) no-repeat;
}
.gonglue .luntan-tab .lpgl {
    width: 134px;
    background-position: 0 0;
}
.gonglue .luntan-tab .zbjj {
    width: 159px;
    background-position: -134px 0;
}
.gonglue .luntan-tab .tswf {
    width: 161px;
    background-position: -293px 0;
}
.gonglue .luntan-tab .fbjc {
    width: 154px;
    background-position: -453px 0;
}
.gonglue .luntan-tab .qwsj {
    width: 152px;
    background-position: right 0;
}
.gonglue .luntan-tab a em {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transform: translate3d(0,10%,0);
    transition: all .3s linear;
    background:url(../images/tab3_724754e.png) no-repeat;  
}
.gonglue .luntan-tab .lpgl em{
    background-position: 0 0;
}
.gonglue .luntan-tab .zbjj em{
    background-position: -134px 0;
}
.gonglue .luntan-tab .tswf em{
    background-position: -293px 0;
}
.gonglue .luntan-tab .fbjc em{
    background-position: -453px 0;
}
.gonglue .luntan-tab .qwsj em{
    background-position: right 0;
}
.gonglue .luntan-tab a.active{
    background-image: url(../images/tab4_3eef64b.png);
}
.gonglue .luntan-tab a.active em{
    transform: translate3d(0,0,0);
    opacity: 1;
}
.luntan-news .news{
    width: 100%;
    height: 190px;
    display: none;
    padding: 0;
    border-bottom:1px solid #d1d3d9;
}
.luntan-news .news.active {
    display: block;
}
.luntan-news .news li {
    width: 340px;
    display: inline-block;
    float: left;
    line-height: 32px;
    font-size: 14px;
    color: #39456c;
    vertical-align: middle;
    position: relative;
    padding-left: 12px;
    margin-top: 12px;
}
.luntan-news .news li a {
    display: inline-block;
    font-size: 14px;
    color: #39456c;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    text-align: left;
    box-sizing: border-box;
}
.luntan-news .news li a:hover {
    color:#a78c3d;
}
.luntan-news .news li .type {
    vertical-align: bottom;
    display: inline-block;
}
.luntan-news .news li::before{
    content: '';
    width: 3px;
    height: 3px;
    border:1px solid #455175;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 13px;
}
/* 可以选择ul偶数列 */
.luntan-news .news li:nth-child(even){
    margin-left: 45px;
}




.gonglue .gl-banner {
    width: 549px;
    height: 415px;
    background: url(../images/banner-bg_8b8c43f.png) no-repeat;
    margin-top: 6px;
    margin-right: 6px;
}
.swiper-container{
    position: relative;
    width: 505px;
    margin: -19px auto 0;
    overflow: hidden;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}
.swiper-slide a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    display: block;
}
.swiper-container .slide1 {
    width: 505px;
    height: 214px;
    background: url(../images/banner1_ae52a85.png) no-repeat;
    position: relative;
    flex-shrink: 0;
}
.swiper-container .slide2 {
    width: 505px;
    height: 214px;
    background: url(../images/banner2_b0ad8e9.png) no-repeat;
    position: relative;
    flex-shrink: 0;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    z-index: 10;
    top: 267px;
    right: 22px;
}
.swiper-pagination::before{
    position: absolute;
    top: 10px;
    left: -446px;
    content: '';
    width: 446px;
    border-bottom: 1px dotted #9fa0a2;
}
.swiper-pagination span{
   display: inline-block;
    opacity: 1;
    width: 19px;height: 20px;
    background: url(../images/pagination2_a62d101.png) no-repeat;
    margin-left: 10px;
}
.swiper-pagination span.artive {
    background: url(../images/pagination_c2bd69c.png) no-repeat;
}
.gl-links{
    width: 574px;
    margin: 52px 0 0 26px;
}
.gl-links li {
    position: relative;
    display: block;
    float: left;
    width: 124px;
    font-size: 0;
    text-align: center;
}
.gl-links li::after{
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    display: block;
    width: 1px;
    height: 147px;
    background: url(../images/line_7fe5c64.png) no-repeat;
}
.gl-links .li4::after{
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    display: block;
    width: 0px;
    height:0px;
    background: url(../images/line_7fe5c64.png) no-repeat;
}
.gl-links li a{
    font-size: 0;
    background: url(../images/index_z_fe0b4cf.png) no-repeat;
    display: inline-block;
    width: 27px;
    height: 143px;
    transition:transfrom .15s linear;
}
.gl-links li.li1 a {
    background-position: -376px 0;
    width: 57px;
}
.gl-links li.li2 a {
    background-position: -403px -143px;
}
.gl-links li.li3 a {
    background-position: -279px -147px;
}
.gl-links li.li4 a {
    background-position: -433px -143px;
}
.gl-links li.li1 a:hover {
    background-position: -306px -147px;
    transform: translate(0,-6px);
}
.gl-links li.li2 a:hover {
    background-position: -376px -143px;
    transform: translate(0,-6px);
}
.gl-links li.li3 a:hover {
    background-position: 0px -294px;
    transform: translate(0,-6px);
}
.gl-links li.li4 a:hover {
    background-position: -433px 0px;
    transform: translate(0,-6px);
}




.codes {
    width: 1204px;
    position: absolute;
    top: 2640px;
}
.codes .bbs{
    background: url(../images/bg-bbs_5eb521b.png) no-repeat;
    width: 210px;
    height: 166px;
    margin-right: 48px;
}
.codes>div{
    float: left;
    position: relative;
}
.codes .bbs .icon {
    width: 210px;
    height: 166px;
    background: url(../images/icon-bbs_68986c9.png) no-repeat;
}
.codes .code {
    width: 210px;
    height: 166px;
    position: absolute;
    left: 0;top: 0;
    display: none;
}
.codes .bbs .code {
    background: url(../images/code-bbs_83634f9.png) no-repeat;
}
.codes .bbs-btn {
    display: inline-block;
    width: 23px;
    height: 43px;
    position: absolute;
    left: 11px;
    top: 101px;
    background: url(../images/index_z_fe0b4cf.png) no-repeat -677px -146px;
}
.codes .bbs-btn:hover {
    background-position: -654px -146px;
}

.codes .wx{
    background: url(../images/bg-wx_1282e2d.png) no-repeat;
    width: 210px;
    height: 166px;
    margin-right: 48px;
}
.codes .wx .icon {
    width: 210px;
    height: 166px;
    background: url(../images/icon-wx_ca6bac5.png) no-repeat;
}
.codes .wx .code {
    background: url(../images/code-wx_ecb61f5.png) no-repeat;
}
.codes .wb{
    background: url(../images/bg-wb_af3680e.png) no-repeat;
    width: 210px;
    height: 166px;
    margin-right: 48px;
}
.codes .wb .icon {
    width: 210px;
    height: 166px;
    background: url(../images/icon-wb_1c94317.png) no-repeat;
}
.codes .wb .code {
    background: url(../images/code-wb_052edd3.png) no-repeat;
}
.codes .kefu{
    background: url(../images/bg-kefu_582d911.png) no-repeat;
    width: 429px;
    height: 166px;
}
.kefu .links {
    width: 188px;
    height: 100px;
    margin-top: 44px;
    margin-left: 67px;
}
.kefu .links li {
    width: 94px;
    height: 28px;
    float: left;
    position: relative;
}
.kefu .links li::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 1px solid #5e667b;
    left: -10px;
    transform: rotate(45deg);
    top: 10px;
}
.kefu .links li a{
    font-size: 14px;
    color: #626a7e;
}
.kefu .links li a:hover{
    text-decoration: underline;
    color:#a78c3d;
}
.phone {
    width: 166px;
    height: 95px;
    position: absolute;
    left: 254px;
    top: 30px;
    color: #626a7e;
    font-size: 14px;
    padding-top: 60px;
    text-align: left;
}
.phone p {
    text-indent: 13px;
    margin-top: 4px;
}
.phone i {
    background: url(../images/index_z_fe0b4cf.png) no-repeat -460px -376px;
    position: absolute;
    width: 57px;
    height: 58px;
    left: 48px;
    top: 0;
}
.cd-animate.show {
    overflow: 1px;
    animation: stepAn steps(16) 1.7s both;
}
.cd-animate {
    width: 900px;
    height: 320px;
    position: absolute;
    left: 50%;
    margin-left: -685px;
    top: 2607px;
    background: url(../images/fengye_e2f1004.png) no-repeat;
    display: none;
}
.caidan {
    background: url(../images/caidan_1869284.png) no-repeat;
    width: 1842px;
    height: 70px;
    position: absolute;
    left: 50%;
    margin-left: -866px;
    top: 2850px;
    display: none;
}
.jian {
    background: url(../images/jian_94b3592.png) no-repeat;    
    width: 294px;
    height: 763px;
    position: absolute;
    left: 50%;
    margin-left: 504px;
    top: 2731px;
}
.Mshare {
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    position: absolute;
    top: 2960px;
}
.iconfont{
    font-family:iconfont2!important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.share {
    line-height: 0!important;
    position: relative;
    font-size:0;
    display: inline-block;
}
.share .txt {
    font-family: simSun,Arial;
    color: #7e869b;
    display: inline-block;
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 700; 
}
.iconBtn {
    float: left;
    padding: 0;
    margin: 0;
}
.iconBtn li {
    margin-left: 4px;
    float: left;
}
.iconBtn li a{
    color: #7e869b;
    height: 36px;
    font-size: 36px;
    display: inline-block;
    float: left;
    margin-right: 3px;
    margin-top: 15px;
}
.iconBtn li a:hover{
    color: #c0ab6f;
}
.foot{
    height: 155px;
    width: 100%;
    position: absolute;
    top:3046px;
}
.inner{
    width: 1110px;
    text-align: left;
    margin: 0 auto;
    padding:15px 0 10px;
    font-size: 12px;
    line-height: 20px;
}
.inner-logo {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    min-width: 300px;
}
.inner-logo a{
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 13px;
}
.inner-txt {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
}
i {
    font-style: normal;
}
.inner-txt a{
    color: #000;
}
.inner-txt a:hover{
    text-decoration: underline;
}
.txt-i2 a{
    color: #fff;
    display: inline-block;
    background-color: #610000;
    position: absolute;
    z-index: 2;
    right: 0;
    height: 26px;
    line-height: 26px;
    padding: 0 3px;
    top: 21px;
}
.inner-part2 {
    padding-top: 10px;
    line-height: 24px;
}
.inner-part2 a{
    color: #000;
}
.inner-part2 a:hover{
    text-decoration: underline;
}