* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "MicrosoftYaHeiLight",sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
div, h1, h2, h3, h4, h5, h6, ul, li, ol, dt, dl, dd, table, tr, td, th, a, input, textarea, select, button, span, strong {
  box-sizing: border-box;
}
li {
  list-style: none;
}
input,
button {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  font-size: 13px;
  color: #d3d3dc;
}
a:hover{
  color: #996f52;
}
p {
  color: #666;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix::before,
.clearfix::after {
  content:'';
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  *zoom: 1;
}