/* <!-- header开始 --> */
body{
    background-size: cover;
}
.header {
    height: 100px;
    /* background-color:red; */
}
.header_top {
    position: relative;
}
.logo {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
    height: 50px;
    background-image: url(img/logo_03.png); 
    background-size: cover;
}
.header_top .nav_c {
    position: absolute;
    top: 46px;
    left: 230px;
    width: 855px;
    height: 33px;
    border-bottom: 1px solid #624F48;
}
.header_top .nav_c li {
    float: left;
    width: 75px;
    height: 38px;
    margin: -2px 13px 0px 14px;
}
.header_top .nav_c li a {
    font-size: 15px;
    font-family: 'Microsoft YaHei UI';
}
.header_top .login {
    position: absolute;
    top: 45px;
    right: -88px;
    width: 130px;
    height: 30px;
    line-height: 30px;
}

.header_top .login a {
    display: block;
    float: left;
    width: 58px;
    margin: 0 2px;
    text-align: center;
    border-radius: 5px;
    background-color: #624f48;
    color: #fff;
}
/*<!--下拉菜单-->*/
.header_top .nav_c .wrap_one {
    width: 75px;
}
.header_top .nav_c .wrap {
    position: absolute;
    top: 33px;
    width: 145px;
    background-color: #624f48;
    display: none;
}
.header_top .nav_c .wrap li{
    /*padding-top: 5px;*/
    line-height: 38px;
}
.header_top .nav_c .wrap li a{
    color: #fff;
    font-size: 13px;
}
.header_top .nav_c .wrap li a:hover{
    color: #8a5931;
}
    /* <!-- header结束 --> */


/* <!-- benner背景图 --> */
.benner {
    width: 100%;
    height: 300px;
    background-image: url(img/newsbg.jpg);
    background-size: cover;
}

/* <!-- 版心区 --> */
.bennera {
    position: relative;
    top: 135px;
    margin: 0 auto;
    width: 1040px;
    height: 687px;
    background-color: #fff;
}
/* <!-- 新闻 --> */
.news {
    text-align: center;
    padding: 30px 0;
    font-size: 25px;
    color: black;
}
.news i {
    margin-right: 10px;
    font-style: italic; 

}
/* <!-- 简介 --> */
.intro {
    margin: 0 auto;
    width: 936px;
    height: 735px;
    background-color:#fff;
}
.intro_top {
    height: 61px;
}
.intro_top ul {
    margin-left: 160px;
}
.intro_top li {
    margin: 0 18px;
    float: left;
    width: 118px;
    line-height: 61px;
    text-align: center;
    font-weight: 400;
}
.intro_top li:hover {
    border-bottom: 2px solid #624f48;
}
.intro_top li a {
    color: #624f48;
    font-size: 14px;
    font-weight: bold;
}
.intro_top_bottom{
    margin-top: 1px;
    height: 1px;
    background-color: #ccc;
}
/* <!-- 产品服务 --> */
.product {
    overflow: hidden;
    width: 936px;
    height: 574px;
    
}
.product ul {
    width: 1000px;
    display: none;
}
.product li {
    float: left;
    width: 280px;
    height: 245px;
    margin: 30px 30px 0 9px;
    text-align: center;
    transition: all .2s;
}
.product li:hover{
    transform: scale(1.1);
}
.product li img {
    width: 280px;
    height: 158px;
}
.product li h1 {
    margin-top: 15px;
    display: inline-block;
    height: 38px;
    font-size: 18px;
    font-weight: 300;
}
.product .active {
    display: block;
}

/* <!-- 产品页 --> */
.page {
    margin-top: 50px;
    float: right;
    width: 197px;
    height: 58px;
}
.page  li{
    float: left;
}
.page .one a{
    color: #fff;
    background-color: #624F48;
} 
.page  li a {
    margin:10px 3px;
    color: #624F48;
    display: inline-block;
    padding: 4px 13px;
    border-radius: 5px;
}
.page  li a:hover{
    color: #fff;
    background-color: #624F48;
}
/* <!-- 热们推荐 --> */
.hot {
    margin-top: 800px;
    width: 100%;
    height: 622px;
    background: url(img/teacher-bg.jpg) no-repeat ; 

}
.hot_top {
    height: 571px;
}
.hot_top h2 {
    font-weight: 300;
    padding: 40px 0 ;
    font-size: 32px;
}
.hot_top span {
    border-left: 1px solid #ccc;
    font-size: 18px; 
    padding-left: 10px;
    margin-left: 15px;
}
.pages {
    height: 445px;
}
.pages ul {
    width: 1200px;
}
.pages li {
    float: left;
    width: 360px;
    height: 445px;
    background-color: #fff;
    margin: 0 15px 0 0;
}
.pages img {
    padding: 12px;
}
.pages_text {
    padding: 12px;
}
.pages_text i {
    display: block; 
    width: 35px;
    height: 2px;
    background-color: #333333;
}
.pages_text p {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin: 30px 0 ;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.pages_text h4 {
    font-weight: 550;
    font-size: 18px;
    margin: 10px 0 ;
}
.pages_text a {
    display: block;
    color: #fff;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color:#A27959;
    border-radius: 20px;
    transition: all .2s;
}
.pages_text a:hover{
    transform: scale(1.1);
}
/* <!-- bottom底部 --> */

.bottom {
    position: relative;
    height: 455px;
    background:url(img/footer-bg.jpg) no-repeat;
    background-size: cover;
}
/* <!-- 底部logo --> */
.bottom_logo {
    height: 80px;
}
.bottom_logo img {
    margin-top: 35px;
}
.nav {
    float: right;
}
.nav li {
    float: left; 
    padding: 40px 10px 0;
    margin-right:5px;
}
.nav li a {
    color: #fff;
}
.nav li a:hover {
    color: #624F48;
}
/* <!-- 可待详情 --> */
.details {
    position: relative;
    height: 247px;
}
.details_left {
    float: left;
    width: 665px;
    height: 247px;
}
.left_a {
    float: left;
    margin:45px 10px 0 0 ;
    width: 100px;
}
.left_a dt {
    color: #fff;
    padding-bottom: 30px;
}
.left_a dd {
    font-size: 14px;
    padding: 5px 0 ;
}
.left_a dd a {
    color: #ccc;
}
.left_a dd a:hover{
    color:#A27959;
}
.details_right{
    float: right;
    width: 475px;
    height: 247px;
    border-top: 1px solid #ccc;
}
.details_right h1{
    color: #fff;
    padding:40px 0  30px;
}
.details_right img {
    float: left;
    width: 100px; 
    height: 100px;
}
/* <!-- 联系电话 --> */
.phone {
    float: left;
    width: 80px;
    height: 100px;
    margin-left: 18px;
    border-left: 1px dashed #ccc;
  
}
.phone li {
    padding: 10px 35px;
     height: 10px;
}
.phone li a i {
    font-size: 16px;
    color: #cccccc;
}
.contact_way {
    float: left;
    width: 247px;
    height: 100px;
    border-left: 1px dashed #ccc;
}
.contact_way li {
    font-size: 14px;
    color: #ccc;
    padding: 0 15px;
    line-height: 25px;
}
.site {
    position: absolute;
    left: 60px;
    bottom: -30px;
    font-size: 14px;
    color: #ccc;
}
.site span {
    margin-left: 16px;
}
.details_end {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #ccc;
    font-size: 10px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.details_end a {
    color: #ccc;
}
.details_end a:hover{
    color:#fff;
}

/* 固定导航 */
/* 左下固定导航 */
.fixation_bottom_right {
    position: fixed;
    font-size: 16px;
    right: 55px;
    bottom: -255px;
    width: 222px;
    height: 40px;
    line-height: 40px;
    background-color:#a27959;
    text-align: center;
    transition: all .3s;
}

.fixation_bottom_right span {
    color: #fff;

    float: left;
    text-align: center;
}
.fixation_bottom_right .size {
    display: block;
    width: 40px;
    height: 40px;
    border-right: 1px solid #ccc;
    margin-right: 15px;
}
/* 右下固定导航 */
.fixation_bottom_left {
    position: fixed;
    bottom: -255px;
    left: 10px;
    width: 150px;
    height: 155px;
    background: url(img/contact.png) no-repeat;
    background-size: cover;
    transition: all .3s;

}

/* 左中固定导航 */
.fixation_right {
    color: white;
    position: fixed;
    top: 260px;
    right: -100px;
    width: 50px;
    height: 270px;
    background-color: rgba(0, 0, 0, .8);
    transition: all .8s;
    cursor: pointer;
}
.fixation_right li {
    background-color: rgba(0, 0, 0, .8);
    position: relative;
    width: 500px;
    text-align: center;
    line-height: 54px;
    color: white;
}
.fixation_right li i {
    background-color: rgba(0, 0, 0, .8);
    float: left;
    height: 54px;
    width: 54px;
    font-size: 24px;
    color: white;
}
.fixation_right li span {
    background-color: rgba(0, 0, 0, .8);
    width: 410px;
    float: left;
    padding: 0 15px;
    text-align: left;
    color: white;
    text-align: center;
}
.fixation_right_wx {
    position: absolute;
    right: 0;
    bottom: 216px;
    width: 140px;
    height: 195px;
    background-color: red;
}
.fiexd .fiexd_one{
    width: 600px;
}
.fiexd .fiexd_one li {
    color: white;
    float: left;
    width: 60px;
    padding: 0 16px;
}
#one_two{
    text-align: left;
    width: 110px;
}
.white_color {
    color: white;
}


